[user]
    email = suidar@foxmail.com
    name = Suida
[alias]
    st = status
    cm = commit
    br = branch
    sm = submodule
    last = log -l
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    chk = checkout
    d = difftool
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[core]
	editor = vim
