[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/themes/opt/solarized8"]
	path = pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "gitgutter"]
	path = pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-airline"]
	path = pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "PaperColor"]
	path = pack/themes/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "tpope/fugitive"]
	path = pack/tpope/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "Pymode"]
	path = pack/python-mode/start/python-mode
	url = https://github.com/python-mode/python-mode
[submodule "Nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Nerdcommenter"]
	path = pack/vendor/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "auto-pairs"]
	path = pack/edit/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
