[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/themes/opt/solarized8"]
	path = pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "gitgutter"]
	path = pack/airblade/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-airline"]
	path = pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-airline-themes"]
	path = pack/dist/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "PaperColor"]
	path = pack/themes/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "tpope/fugitive"]
	path = pack/tpope/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "Nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "Nerdcommenter"]
	path = pack/vendor/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "auto-pairs"]
	path = pack/edit/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/syntax/start/vim-cpp-enhanced-highlight"]
	path = pack/syntax/start/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "pack/themes/opt/vim-monokai"]
	path = pack/themes/opt/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "pack/themes/opt/tender"]
	path = pack/themes/opt/tender
	url = https://github.com/jacoborus/tender.vim
