greenlet==0.4.15
mccabe==0.6.1
msgpack==1.0.0
neovim==0.3.1
pycodestyle==2.6.0
pydocstyle==5.0.2
pyflakes==2.2.0
pylama==7.7.1
pynvim==0.4.1
snowballstemmer==2.0.0
greenlet==0.4.15
mccabe==0.6.1
msgpack==1.0.0
neovim==0.3.1
pycodestyle==2.6.0
pydocstyle==5.0.2
pyflakes==2.2.0
pylama==7.7.1
pynvim==0.4.1
snowballstemmer==2.0.0
